@import "tailwindcss";

@theme {
    --breakpoint-xs: 383px;
    --breakpoint-resp-nav: 630px;
    --breakpoint-timeline: 900px;
}

/* Tell Tailwind where your custom CSS belongs */
@layer base {
    html {
        scroll-behavior: smooth;
    }

    @font-face {
        font-family: "inconsolata";
        src: url("/fonts/inconsolata-webfont.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
}

@utility bg-intro {
    background-image: url("/images/homepage-bg-min.png");
}

@utility bg-contact {
    background-image: url("/images/contact-bg.jpg");
}

@utility font-inconsolata {
    font-family: "Inconsolata", monospace;
}

@layer utilities {
    @keyframes cursor {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@utility animate-cursor {
    animation: cursor 1s infinite;
}
